<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        /* Add custom styles for the welcome page */
        .jumbotron {
            background-image: linear-gradient(to bottom, #f5f5f5, #e9ecef);
            text-align: center;
        }

        .container {
            padding-top: 60px;
        }

        h1 {
            font-weight: bold;
            color: #343a40;
        }

        p {
            font-size: 18px;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome, John Smith!</h1>
            <p class="lead">You have successfully logged in to our website.</p>
            <hr class="my-4">
            <p>Explore our site and discover all the features available to you. We're glad you're here.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
        </div>
    </div>
</body>
</html>
